body{
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    text-align: center;
}
.videos-legais{
    color: #fff;
    text-align: center;
}
.curso-video{
    text-align: center;
    color: #fff;
    font-weight: bold;

  }